build/
requirements.txt
config.toml
keys.json
workdir/
*.pyc
.coverage*
__pycache__/
.ipynb_checkpoints
backup/
scratchpad.ipynb
.venv/
tmp/
tmp.py
env/
datasetprep/
.DS_Store
.env
*.swp
*.h5
*.egg-info
dist/*
*.pickle
.s.yml
.DS_Store
*_Store
experiments_list.txt
*/models-data/*
.vscode
private/
uv.lock
.python-version

